﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simon Horridge Exercise</title>

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://jqueryui.com/jquery-wp-content/themes/jqueryui.com/style.css">
    <script src="Scripts/jquery-1.1.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="Scripts/App.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                onSelect: function () {
                    angular.element($(this)).scope()[$(this).attr("model")] = $(this).val();
                    angular.element($(this)).scope().$apply();
                },
                dateFormat: "yy-mm-dd"
            });
        });

    </script>
</head>
<body ng-app="app" ng-controller="indexController">

<div class="container-fluid">

    <div ng-if="!dataExists && !dataUploaded" class="alert alert-info">
        <p>{{message}}</p>
    </div>

    <div class="row">
        <input type="file" id="file">

        <!--ToDo - hide this until file chosen-->
        <input type="button" value="Upload File" ng-click="uploadFile()">
    </div>
    <br/>
    <div class="row" ng-show="dataExists">
        <label>Date From</label> <input id="dateFrom" model="dateFrom" class="datepicker"/>
        <label>Date To</label> <input id="dateTo" model="dateTo" class="datepicker"/>

        <br/>
        <br/>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#sectionA">Index Chart</a></li>
            <li><a data-toggle="tab" href="#sectionB">Top Weighted Stocks</a></li>
            <li><a data-toggle="tab" href="#sectionC">Data Table</a></li>

        </ul>
        <br/>
        <div class="tab-content">
            <div id="sectionA" class="tab-pane fade in active">
                <div id="indexChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div id="sectionB" class="tab-pane fade">
                <div id="topWeightedStocks" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
            <div id="sectionC" class="tab-pane fade">
                <table id="dataTable" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Index Name</th>
                        <th>Date</th>
                        <th>Stock Id</th>
                        <th>Price</th>
                        <th>Name</th>
                        <th>Number Of Shares</th>
                        <th>Total Value</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <input ng-show="dataExists" type="button" value="Reset Exercise" ng-click="resetExercise()">
</div>
</body>
</html>
